asgiref
astroid
autopep8
batlang
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
comtypes
crispy-bootstrap5
cryptography
defusedxml
dill
distlib
dj-database-url
dj-rest-auth
Django
django-allauth
django-bootstrap-v5
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
django-heroku
django-rest-auth
django-rest-framework
djangorestframework
djangorestframework-simplejwt
et-xmlfile
filelock
gunicorn
idna
isort
Markdown
mccabe
MouseInfo
numpy
oauthlib
opencv-contrib-python
opencv-python
openpyxl
packaging
pandas
pillow
pipenv
platformdirs
psycopg2-binary
PyAudio
PyAutoGUI
pycodestyle
pycparser
PyGetWindow
Pygments
PyJWT
pylint
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
python-dotenv
python3-openid
pyttsx3
pytweening
pytz
requests
requests-oauthlib
setuptools
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
tomlkit
typing_extensions
tzdata
urllib3
virtualenv
whitenoise
